body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0d1117;
  color: #e6edf3;
  text-align: center;
  scroll-behavior: smooth;
}

header {
  padding: 40px 20px;
  background-color: #161b22;
}

h1 {
  color: #58a6ff;
  font-size: 2rem;
}

section h1{
  color: #e6edf3;
  font-size: 1.5rem;  
}

.card h2{
 
  color:#e6edf3;
  font-size: 1.5rem;
  margin-right: 32%;
}

.card h3{
  color: #e6edf3;
  margin-right: 42%;
  font-size: 1.rem;

}

.card {
  background: #21262d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  
}

.videos {
  width: 40%;
  max-width: 40%; 
  height: auto; 
}

img {
  width: 52%;
  height: auto;

}

.links {
  background-color: #123;
  background-image: linear-gradient(to bottom, #0003, transparent);
  border-bottom: 1px solid #0003;
  box-shadow: 0 0 32px #0003;
  font-size: 1.5rem;
  font-weight: 300;
}
.links > a {
  color: #9ab;
  padding: .75em;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
}
.links > a:hover {
  background: #ffffff06;
  color: #adf;
}
.links > .line {
  background: #68a;
  height: 1px;
  pointer-events: none;
}

/* The Magic */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.links {
  display: grid;
  grid-template-columns: repeat(var(--items), 1fr);
  align-items: center;
}
.links > .line {
  opacity: 0;
  transition: all .5s;
  position: absolute;
  bottom: 0;
  left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
  width: var(--width, calc(100% / var(--items)));
  --index: 0;
}
.links > a:hover ~ .line {
  opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }


footer {
  background: #161b22;
  padding: 15px;
  font-size: 0.9rem;
}
footer a {
  color: #58a6ff;
  text-decoration: none;
}
